@charset "utf-8";

/* 폰트 선언 */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&display=swap");
/* font-family: 'IBM Plex Sans KR', sans-serif; */

@font-face {
	font-family: "lemon";
	src: url(fonts/LEMONMILK-Light.woff) format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "lemon";
	src: url(fonts/LEMONMILK-Regular.woff) format("woff");
	font-weight: 700;
}

/* 초기화 및 상속 */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ul {
	list-style: none;
}

a,
span,
i,
strong {
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
select,
button {
	vertical-align: middle;
	border-radius: 0;
	appearance: none;
	border: 0;
	outline: 0;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,
video {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	line-height: 1.4;
	font-family: "lemon", "MalgunGothic", "Dotum", sans-serif;
	color: #444;
}

/* clearfix */
.clearfix::before {
	content: "";
	display: block;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* 접근성을 위한 숨김 텍스트 제공 */
.blind {
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	position: absolute;
}

* {
	box-sizing: border-box;
}

/* 폰트 크기 10px로 고정 */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.8rem;
	font-family: "IBM Plex Sans KR", "MalgunGothic", "Dotum", sans-serif;
	line-height: 1.5;
}
body::-webkit-scrollbar {
	width: 15px;
}
body::-webkit-scrollbar-thumb {
	background-color: #444;
}
body::-webkit-scrollbar-track {
	background-color: #ededed;
}

.inner {
	width: 1550px;
	margin: 0 auto;
	position: relative;
}

/* SECTION background-color */
#home,
#contact {
	background-color: #141414;
	color: #fff;
}
#about {
	background-color: rgba(250, 250, 250, 1);
}
#graphic,
#publishing,
#script {
	background-color: #fff;
	color: #666;
}

/* SECTION 공통 속성 */
#home,
#about,
#graphic,
#script,
#contact {
	position: relative;
	height: 100vh;
	min-height: 1000px;
}

/* BUTTON 공통 속성 */
.view_btn,
.repos_btn {
	font-size: 2rem;
	background: #fff;
	color: #444;
	line-height: 50px;
	width: 220px;
	height: 50px;
	border: 1px solid rgba(68, 68, 68, 0.4);
	border-radius: 30px;
}
.view_btn:hover,
.repos_btn:hover {
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 1) 0%,
		rgba(241, 241, 241, 1) 50%,
		rgba(225, 225, 225, 1) 51%,
		rgba(246, 246, 246, 1) 100%
	);
}

#publishing .btn_area,
#script .btn_area {
	margin-top: 50px;
	min-width: 490px;
}
#publishing .view_btn,
#script .view_btn {
	margin-right: 20px;
	text-align: center;
}
#publishing .repos_btn,
#script .repos_btn {
	text-align: center;
}

/* HOME, CONTACT BALL 공통 속성 */
.ball1,
.ball2 {
	width: 800px;
	height: 800px;
	border-radius: 50%;
	background-color: #fff;
}

/* HEADER */
#header {
	width: 100%;
	height: 70px;
	color: #fff;
	padding: 20px 0;
	position: fixed;
	z-index: 300;
	transition: background-color 0.5s;
	margin-top: 15px;
}

#header .logo {
	display: inline-block;
	color: #fff;
	font-size: 1.5rem;
	border: 3px solid #fff;
	border-radius: 10px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 29px;
}

#header .gnb {
	display: flex;
	justify-content: space-between;
	width: 750px;
	position: absolute;
	top: 0;
	right: 0;
}
#header .gnb li {
	position: relative;
	font-family: "lemon", "MalgunGothic", "Dotum", sans-serif;
}
#header .gnb li::after {
	content: "";
	display: block;
	width: 45px;
	height: 4px;
	background-color: #fff;
	opacity: 0.3;
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translatex(-50%);
	transition: all 1s;
}
#header .gnb li.on::after {
	opacity: 1;
}

/* HEADER_컬러 체인지 */
#header.color {
	background-color: rgba(255, 255, 255, 0.5);
}
#header.color .logo {
	color: #444;
	border: 3px solid #444;
}
#header.color li a {
	color: #616161;
}
#header.color .gnb li::after {
	background-color: #616161;
	opacity: 0.3;
}
#header.color .gnb li.on::after {
	opacity: 1;
}

/* SECTION 1_HOME */
#home {
	overflow: hidden;
	z-index: 200;
}

/* HOME_ANIMATION_BALL */
@keyframes ball1-1 {
	0% {
		right: -1220px;
		bottom: -120px;
	}
	50% {
		right: -1260px;
		bottom: -135px;
	}
	100% {
		right: -1300px;
		bottom: -150px;
	}
}
@keyframes ball1-2 {
	0% {
		right: -25px;
		bottom: -340px;
	}
	50% {
		right: -15px;
		bottom: -325px;
	}
	100% {
		right: -5px;
		bottom: -310px;
	}
}

#home .ball1 {
	opacity: 0.07;
	position: relative;
	right: -1300px;
	bottom: -150px;
	animation: ball1-1 3s linear infinite alternate;
}
#home .ball2 {
	opacity: 0.15;
	position: relative;
	right: -25px;
	bottom: -330px;
	animation: ball1-2 3s linear infinite alternate;
}

#home .text {
	position: relative;
	top: 330px;
	margin-left: 100px;
}
#home .text::before {
	content: "";
	display: block;
	width: 8px;
	height: 400px;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 50%;
	left: -100px;
	transform: translatey(-50%);
}
#home .text .split {
	display: block;
}
#home .split span {
	opacity: 0;
	display: inline-block;
	transform: translatey(30px);
}
#home .text h2 {
	font-size: 7.5rem;
	letter-spacing: -0.1em;
	padding-bottom: 10px;
	color: #fff;
}

#home .text p {
	font-size: 2rem;
	opacity: 0;
	animation: textup 1s ease-in-out forwards;
	animation-delay: 2s;
}
@keyframes textup {
	0% {
		transform: translatey(50%);
		opacity: 0;
	}
	100% {
		transform: translatey(0%);
		opacity: 1;
	}
}

/* SECTION 2_ABOUT */
#about {
	z-index: 200;
}

#about .about_wrap {
	display: flex;
	position: relative;
	top: 200px;
	opacity: 0;
}

#about .intro figure img {
	display: inline-block;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#about .intro_txt {
	padding-top: 50px;
	width: 790px;
}
#about .intro_txt p:nth-of-type(2) {
	width: 600px;
	padding-top: 20px;
}

#about .skill {
	margin-left: 150px;
}
#about .skill h3 {
	font-size: 4rem;
	position: relative;
}
#about .skill h3::after {
	content: "";
	display: block;
	width: 200px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 0;
}

#about .skill_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 100px;
}
#about .skill_list > li {
	width: 250px;
	padding-bottom: 60px;
	position: relative;
}
#about .skill_list > li h4 {
	font-size: 2.4rem;
	padding-bottom: 10px;
	position: relative;
}

/* SECTION 3_PUBLISHING */
#publishing {
	height: 1800vh;
	z-index: 100;
}

#publishing .inner3 {
	width: 800%;
	height: 100vh;
	margin-left: 5%;
	position: fixed;
	left: 0;
	top: 200px;
}
#publishing .container {
	width: 1000%;
	height: 100vh;
	margin-left: 5%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#publishing .publi_wrap {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}
#publishing .publi_cont {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#publishing .tit .sub {
	font-size: 1.7rem;
	font-family: "lemon", "MalgunGothic", "Dotum", sans-serif;
}
#publishing .tit .main {
	font-size: 4.3rem;
	padding: 5px 0 30px;
}

#publishing article {
	width: 550px;
}

#publishing .desc_list li {
	padding: 0 60px 25px 0;
}

#publishing .desc_list h4 {
	font-size: 2rem;
	font-weight: 500;
	font-family: "IBM Plex Sans KR", "MalgunGothic", "Dotum", sans-serif;
	padding-bottom: 5px;
}
#publishing .desc_list span {
	font-size: 1.8rem;
}
#publishing .desc_list span:nth-of-type(2),
#publishing .desc_list span:nth-of-type(4) {
	font-size: 1.5rem;
	margin-left: 10px;
}

#publishing .pic img {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#publishing .mobile_btn {
	cursor: pointer;
}

/* MOBILE_MOCKUP */
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	display: none;
}
.overlay .m_wrap {
	display: inline-block;
	position: relative;
	width: 450px;
	margin-top: 50px;
}
.overlay .screen {
	width: 360px;
	height: 625px;
	position: absolute;
	left: 43px;
	top: 120px;
	overflow: hidden;
	background-color: #fff;
}
.overlay .screen iframe {
	width: 375px;
	height: 100%;
	position: relative;
}
.overlay .btn_close {
	position: absolute;
	left: 50%;
	top: -15px;
	transform: translatex(-50%);
	color: #fff;
	cursor: pointer;
}

/* SECTION 4_GRAPHIC, SECTION 5_SCRIPT */
#graphic,
#script {
	height: 100%;
}
#graphic .gra_wrap,
#script .scr_wrap {
	display: flex;
	position: relative;
	top: 200px;
	left: 0;
}

#graphic .gra_cont,
#script .scr_cont {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}

#graphic article,
#script article {
	width: 550px;
	position: relative;
	top: 200px;
}
#graphic .tit .sub,
#script .tit .sub {
	font-size: 1.6rem;
	font-family: "lemon", "MalgunGothic", "Dotum", sans-serif;
}
#graphic .tit .main,
#script .tit .main {
	font-size: 4.5rem;
	padding: 15px 0 30px;
}

#script .desc p {
	width: 450px;
	padding-bottom: 25px;
}

#graphic .pic img,
#script .pic img {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* SECTION 6_CONTACT */
#contact {
	overflow: hidden;
}

#contact .contact_wrap {
	display: flex;
	justify-content: space-around;
	position: relative;
	left: -100%;
	opacity: 0;
}

#contact article {
	position: relative;
	top: 300px;
}
#contact h3 {
	font-size: 2.8rem;
	font-weight: 500;
	color: #fff;
	font-family: "IBM Plex Sans KR", "MalgunGothic", "Dotum", sans-serif;
}
#contact p {
	font-size: 2.4rem;
	padding-top: 20px;
}

#contact .contact_list {
	width: 550px;
}
#contact .contact_list li {
	padding-bottom: 15px;
}
#contact .contact_list .tit {
	font-size: 2.6rem;
	font-weight: 500;
	text-align: right;
	width: 100px;
	margin-right: 10px;
}
#contact .contact_list .sub {
	font-size: 2.2rem;
	transition: 0.3s;
	padding: 5px;
	border-radius: 10px;
}
#contact .contact_list .sub:hover {
	background-color: rgba(255, 255, 255, 1);
	color: #111;
	text-decoration: underline;
}

/* CONTACT_ANIMATION_BALL */
@keyframes ball2-1 {
	0% {
		right: 350px;
		bottom: -180px;
	}
	50% {
		right: 320px;
		bottom: -200px;
	}
	100% {
		right: 310px;
		bottom: -230px;
	}
}
@keyframes ball2-2 {
	0% {
		right: 630px;
		bottom: -400px;
	}
	50% {
		right: 650px;
		bottom: -385px;
	}
	100% {
		right: 670px;
		bottom: -370px;
	}
}
#contact .ball1 {
	opacity: 0.07;
	position: relative;
	right: 350px;
	bottom: -180px;
	animation: ball2-1 3s linear infinite alternate;
}
#contact .ball2 {
	opacity: 0.15;
	position: relative;
	right: 670px;
	bottom: -370px;
	animation: ball2-2 3s linear infinite alternate;
}

/* FOOTER */
#footer {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translatex(-50%);
	font-size: 1.4rem;
	color: #d9d9d9;
	z-index: 201;
	text-align: center;
}
#footer small:nth-of-type(1) {
	display: block;
}

/* TOP, PROGRESS BAR */
aside {
	position: relative;
}
#top {
	position: fixed;
	right: 40px;
	bottom: 40px;
	z-index: 11;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	cursor: pointer;
}
#top svg {
	width: 35px;
	height: 28px;
	fill: #fff;
}

#progress {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 3px;
	background-color: #222;
	z-index: 500;
}